/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
.responsiveGrid {
    padding: 2% 10%;
}

/* Tablet view */
@media (max-width: 768px) {
    .responsiveGrid {
        padding: 2% 20px;
    }
}

/* Mobile view */
@media (max-width: 480px) {
    .responsiveGrid {
        padding: 2% 10px;
    }
}
