/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
.responsiveGrid {
    padding: 2% 10%; /* Default padding for desktop */

    /* Tablet view */
    @media (max-width: 768px) {
        padding: 2% 20px; /* Reduce padding for tablet */
    }

    /* Mobile view */
    @media (max-width: 480px) {
        padding: 2% 3px; /* Same as tablet for mobile */
    }
}
